In [237]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/carvana-predict-car-prices/carvana.csv

In [238]:
data=pd.read_csv("/kaggle/input/carvana-predict-car-prices/carvana.csv")

In [239]:
data.head()

              Name   Year  Miles  Price
0   Chevrolet Trax   2018  41946  16990
1      GMC Terrain   2020  45328  23990
2    Jeep Wrangler   2012  81068  21590
3    Jeep Renegade   2019  35372  21590
4            BMW X  20173  68992  22990

In [240]:
data.columns.unique()

Index(['Name', 'Year', 'Miles', 'Price'], dtype='object')

In [241]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    22000 non-null  object
 1   Year    22000 non-null  int64
 2   Miles   22000 non-null  int64
 3   Price   22000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 687.6+ KB

In [242]:
data.isnull().sum()

Name     0
Year     0
Miles    0
Price    0
dtype: int64

In [243]:
data.describe()

               Year          Miles          Price
count  2.200000e+04   22000.000000   22000.000000
mean   1.946648e+05   54445.697318   20707.285136
std    1.630370e+06   25685.933926    6535.580304
min    2.009000e+03      53.000000   10990.000000
25%    2.014000e+03   35512.000000   16590.000000
50%    2.017000e+03   51890.000000   19590.000000
75%    2.020000e+03   73191.000000   22990.000000
max    2.022350e+07  120167.000000  102990.000000

In [244]:
col=['Name', 'Year']
for i in col:
    print(i,": ")
    print(data[i].unique())

Name :
[' Chevrolet Trax' ' GMC Terrain' ' Jeep Wrangler' ' Jeep Renegade'
 ' BMW X' ' Buick Encore' ' Jeep Compass' ' Jeep Patriot'
 ' Chrysler Sebring' ' Subaru Legacy' ' Subaru XV Crosstrek'
 ' Mitsubishi Eclipse Cross' ' Toyota Corolla' ' Nissan Pathfinder'
 ' Lincoln MKC' ' Lexus ES' ' Dodge Grand Caravan Passenger'
 ' Ford Escape' ' Mitsubishi Mirage G' ' Toyota C-HR' ' Toyota Yaris'
 ' MAZDA CX-' ' Nissan Rogue Sport' ' Volkswagen Atlas' ' MAZDA MAZDA'
 ' Nissan Sentra' ' Honda Civic' ' Nissan Rogue' ' Toyota Corolla iM'
 ' Subaru Forester' ' Volkswagen Jetta' ' FIAT ' ' Honda Accord'
 ' Hyundai Sonata' ' GMC Acadia' ' Kia Optima' ' Hyundai Veloster'
 ' Hyundai Elantra' ' FIAT  Spider' ' Honda Odyssey' ' Volkswagen Tiguan'
 ' Acura RDX' ' Jeep Grand Cherokee' ' Chrysler Voyager' ' Hyundai Accent'
 ' Honda CR-V' ' INFINITI QX' ' Chevrolet Traverse'
 ' Mitsubishi Outlander Sport' ' Hyundai Kona' ' Nissan Frontier King Cab'
 ' Chevrolet Spark' ' Nissan Altima' ' Kia Soul' ' Ford Fusion'
 ' Ford Edge' ' Chevrolet Sonic' ' Buick Enclave' ' Kia Forte' ' Scion tC'
 ' Dodge Journey' ' Audi A Sportback e-tron' ' Mitsubishi Outlander'
 ' Alfa Romeo Giulia' ' Chevrolet Cruze' ' Nissan Kicks' ' Ford Fiesta'
 ' BMW  Series' ' Kia Sportage' ' Ford Mustang' ' Volkswagen Passat'
 ' Lexus IS' ' Acura MDX' ' Kia Cadenza' ' Hyundai Tucson' ' Toyota Camry'
 ' Volkswagen Jetta SportWagen' ' MINI Hardtop  Door' ' Cadillac CTS'
 ' Kia Sedona' ' Kia Rio' ' Ram  Regular Cab' ' Chevrolet Impala'
 ' Chevrolet Equinox' ' Chrysler Pacifica' ' Nissan Murano'
 ' Subaru Impreza' ' Chevrolet Volt' ' MINI Coupe'
 ' Mercedes-Benz SLK-Class' ' Toyota Prius v' ' Nissan Versa'
 ' FIAT  Abarth' ' Ford Explorer' ' Nissan LEAF' ' Jeep Cherokee'
 ' FIAT X' ' Ford EcoSport' ' MINI Convertible' ' Dodge Avenger'
 ' Chevrolet Camaro' ' Volkswagen Beetle' ' Buick LaCrosse' ' Ford Focus'
 ' Volvo S' ' Toyota Yaris iA' ' Honda Fit' ' Toyota Sienna'
 ' Toyota Prius' ' Chrysler ' ' Nissan Maxima' ' Nissan JUKE'
 ' Ford F Super Cab' ' Chevrolet Malibu' ' Toyota Prius c'
 ' Volkswagen Tiguan Limited' ' Kia Optima Hybrid' ' MAZDA MX- Miata'
 ' Honda HR-V' ' Kia Sorento' ' Chevrolet Cruze Limited'
 ' Mercedes-Benz GLA' ' Toyota Avalon' ' Dodge Charger' ' Scion FR-S'
 ' Chevrolet Captiva Sport' ' Chevrolet Trailblazer' ' Honda CR-Z'
 ' BMW i' ' Acura TLX' ' Kia Niro' ' Acura RLX' ' Nissan Rogue Select'
 ' Nissan Frontier Crew Cab' ' Mercedes-Benz C-Class' ' Lexus GS'
 ' Ford Taurus' ' MAZDA Tribute' ' Chrysler Town & Country' ' Ford Flex'
 ' Toyota RAV' ' MINI Countryman' ' Honda Pilot' ' INFINITI Q'
 ' Chevrolet Blazer' ' INFINITI EX' ' Dodge Dart' ' MINI Clubman'
 ' Lexus RX' ' Toyota Tacoma Double Cab' ' Hyundai Venue'
 ' Subaru Outback' ' Jeep Gladiator' ' MINI Hardtop' ' Mitsubishi Mirage'
 ' Lexus GX' ' Kia Seltos' ' Cadillac XT' ' Hyundai Santa Fe Sport'
 ' Cadillac ATS' ' Toyota Runner' ' Subaru Crosstrek' ' INFINITI G'
 ' FIAT L' ' Nissan Z' ' Volkswagen Golf SportWagen' ' Volkswagen Golf'
 ' Mercedes-Benz E-Class' ' Volvo C' ' Kia Soul EV' ' Cadillac SRX'
 ' smart fortwo' ' Acura ILX' ' Toyota Camry Hybrid' ' Volkswagen Touareg'
 ' Scion iQ' ' Lincoln MKX' ' MINI Roadster' ' Buick Verano'
 ' Mercedes-Benz CLA-Class' ' Toyota Highlander' ' Kia K' ' Lincoln MKZ'
 ' Chevrolet Colorado Extended Cab' ' Buick Envision' ' Acura TSX'
 ' GMC Yukon' ' Mercedes-Benz M-Class' ' Volkswagen Golf GTI' ' Audi Q'
 ' Acura TL' ' Lexus CT' ' Mercedes-Benz CLA' ' Buick Cascada' ' Scion xD'
 ' MINI Paceman' ' Hyundai Ioniq Hybrid' ' Mercedes-Benz GLC'
 ' Chevrolet Colorado Crew Cab' ' Ford F SuperCrew Cab'
 ' Ford Bronco Sport' ' Ford Expedition' ' Chevrolet Silverado  Crew Cab'
 ' Chevrolet Suburban' ' Nissan Armada' ' Scion iM'
 ' Land Rover Range Rover Evoque' ' Lincoln MKS' ' Lexus LC'
 ' Land Rover LR' ' Hyundai Genesis' ' Toyota Sequoia' ' INFINITI M'
 ' Land Rover Range Rover Velar' ' Chevrolet Impala Limited'
 ' Chevrolet Spark EV' ' Chevrolet Silverado  Double Cab' ' Buick Regal'
 ' Audi A' ' Kia Telluride' ' Mercedes-Benz SL-Class' ' Dodge Durango'
 ' Mercedes-Benz GLE' ' Honda Insight' ' Toyota Venza'
 ' Toyota Tundra Double Cab' ' smart fortwo electric drive'
 ' Buick Encore GX' ' Volvo XC' ' Mitsubishi i-MiEV' ' Ford Fusion Energi'
 ' Toyota Tacoma Access Cab' ' Subaru Ascent' ' Hyundai Santa Fe'
 ' Jeep Wrangler Unlimited' ' Volkswagen Routan' ' Volkswagen Eos'
 ' Audi S' ' GMC Acadia Limited' ' Hyundai Elantra GT'
 ' Mercedes-Benz CLK-Class' ' GMC Yukon XL ' ' Hyundai Sonata Hybrid'
 ' Ford Expedition MAX' ' Dodge Challenger' ' Honda Crosstour'
 ' Land Rover Range Rover Sport' ' Subaru WRX' ' Ford C-MAX Energi'
 ' Volkswagen e-Golf' ' Volkswagen CC' ' Volvo V' ' Ford Mustang MACH-E'
 ' Mercedes-Benz A-Class' ' Volkswagen GTI' ' Ram  Crew Cab' ' Lexus HS'
 ' Nissan Versa Note' ' Lincoln Town Car' ' Cadillac XTS'
 ' MAZDA MX- Miata RF' ' Chevrolet Tahoe' ' Kia Forte Koup' ' Scion xB'
 ' BMW M' ' Toyota GR' ' Tesla Model Y' ' Volkswagen ID.' ' Nissan Xterra'
 ' Mercedes-Benz GLK-Class' ' Toyota Prius Plug-in Hybrid' ' Lexus NX'
 ' Hyundai Azera' ' Scion iA' ' Chevrolet Corvette' ' Hyundai IONIQ '
 ' Tesla Model ' ' Kia Carnival' ' Mercedes-Benz CLS-Class'
 ' Tesla Model S' ' Tesla Model X' ' Jaguar F-TYPE'
 ' Nissan Titan Crew Cab' ' Jaguar XF' ' Polestar ' ' Audi TT' ' Porsche '
 ' Ford Ranger SuperCrew' ' Lexus RC' ' Honda Ridgeline'
 ' Ford F Regular Cab' ' Toyota RAV Hybrid' ' Toyota Tundra CrewMax'
 ' GMC Sierra  Double Cab' ' Kia Sorento Plug-in Hybrid' ' Ram  Quad Cab'
 ' Kia Sorento Hybrid' ' Honda Clarity Plug-in Hybrid' ' Ford Bronco'
 ' Honda Accord Hybrid' ' Porsche Boxster' ' Porsche Macan'
 ' Toyota GR Supra' ' Toyota Prius Prime' ' Toyota Corolla Cross'
 ' Genesis G' ' Mercedes-Benz SL' ' Jaguar XE' ' Lincoln Corsair'
 ' GMC Sierra  Crew Cab' ' Mercedes-Benz Mercedes-AMG GLE Coupe'
 ' Maserati Levante' ' Cadillac CT' ' Land Rover Discovery'
 ' Ram  Classic Quad Cab' ' Chevrolet Silverado  HD Crew Cab'
 ' Land Rover Discovery Sport' ' Maserati Ghibli'
 ' Volkswagen Atlas Cross Sport' ' Kia Stinger' ' BMW Z'
 ' Toyota FJ Cruiser' ' Toyota Corolla Hatchback' ' Audi e-tron'
 ' GMC Canyon Crew Cab' ' Chevrolet Silverado  HD Regular Cab'
 ' Porsche  Cayman' ' Hyundai Palisade' ' Hyundai Santa Cruz'
 ' Jaguar E-PACE' ' Toyota Corolla Hybrid'
 ' Chevrolet Silverado  Limited Crew Cab' ' Cadillac ELR'
 ' Hyundai Tucson Hybrid' ' Alfa Romeo C Spider' ' Acura MDX Sport Hybrid'
 ' Honda CR-V Hybrid' ' Jaguar XJ' ' Alfa Romeo Stelvio' ' Honda Passport'
 ' Kia EV' ' Porsche Cayenne' ' Lincoln Nautilus' ' Jaguar F-PACE'
 ' Ford Maverick' ' Mercedes-Benz S-Class' ' Lincoln Navigator'
 ' Mitsubishi Outlander PHEV' ' Mercedes-Benz Mercedes-AMG C-Class'
 ' Ram  Classic Crew Cab' ' Toyota ' ' Mercedes-Benz GLB'
 ' Mercedes-Benz GLS' ' Maserati Quattroporte' ' Jeep Wagoneer'
 ' Mercedes-Benz SLC' ' Kia Niro EV' ' Jeep Grand Cherokee L'
 ' Mercedes-Benz GLA-Class' ' GMC Sierra  Limited Crew Cab'
 ' Mercedes-Benz Mercedes-AMG SLC' ' Honda Civic Type R'
 ' Ford Transit Connect Passenger Wagon' ' Toyota Tundra Hybrid CrewMax'
 ' Ford Transit  Wagon' ' Lexus UX' ' Jeep Liberty' ' Porsche Panamera'
 ' Land Rover Range Rover' ' Maserati GranTurismo' ' Volkswagen Jetta GLI'
 ' Nissan TITAN XD Crew Cab' ' Ford Expedition EL'
 ' Toyota Highlander Hybrid' ' Ford F Lightning'
 ' Mercedes-Benz Mercedes-AMG GLC' ' Hyundai Genesis Coupe'
 ' Chevrolet Bolt EV' ' Cadillac Escalade ESV' ' Honda Accord Crosstour'
 ' Nissan Quest' ' Ford Transit Connect Passenger' ' Mitsubishi Lancer'
 ' Hyundai Veracruz' ' Pontiac Solstice' ' Buick Lucerne' ' Ford Focus ST'
 ' Mercedes-Benz B-Class' ' Subaru BRZ' ' INFINITI FX'
 ' Hyundai Sonata Plug-in Hybrid' ' GMC Sierra  Regular Cab'
 ' Chevrolet Suburban ' ' Hyundai Ioniq Plug-in Hybrid' ' Hyundai Equus'
 ' GMC Yukon XL' ' Buick Regal Sportback' ' Chevrolet City Express'
 ' smart fortwo electric drive cabrio' ' INFINITI JX'
 ' Chevrolet Silverado  Regular Cab' ' Volkswagen Golf Alltrack'
 ' Volkswagen New Beetle' ' Toyota Matrix' ' Chevrolet Malibu Limited'
 ' FIAT c Abarth' ' Ram  Classic Regular Cab' ' Audi allroad'
 ' Cadillac DTS' ' Toyota Yaris Hatchback' ' Saturn SKY'
 ' Ford C-MAX Hybrid' ' Mercedes-Benz R-Class' ' Lexus LS'
 ' Hyundai Ioniq Electric' 'Kia Sorento']
Year :
[    2018     2020     2012     2019    20173     2016     2017     2015
     2014     2010    20194    20165     2013    20133     2011  2013500
  2017124     2021     2022   201650    20163    20215    20113    20152
 20141500   202130    20204    20153  2014500  2016500    20103    20156
  2017500   201040  2013300  2015200  2013150    20125    20185    20166
    20146    20213   202180   201860    20184    20203    20143    20144
   201550   202050   202150    20199    20219    20205   201730   202060
  2018500  2015500  2010370   201750    20174   201360   200970    20193
    20145    20164    20123    20176  2016200   201560  2015900    20161
  2016900    20154    20182    20157  2019500    20183    20122    20129
    20114  2020150 20211500    20135    20196  2014200 20201500    20195
    20134    20169   201850  2021300    20095  2016300  2013200    20105
   201460     2009    20136    20151  2020300    20115    20214   201660
    20209    20175   201980    20172  2012300  2018300   201450 20151500
   201540   201960    20202   202286    20186   201760    20155    20112
    20212    20225    20232    20206    20111 20171500   202140  2019124
   202260    20181   201940    20222  2018150  2013911  2021150    20224
 20161500    20223 20191500  2016370   201950   202230 20222500 20223500
 20181500  2014370 20221500   201570   201890   201880    20162  2017718
    20124  2017150  2017370   201790   202090  2022150   201990    20226
    20201   201930    20216 20152500    20147   201970   201886  2016150
  2018718    20191    20189  2015300   201690   202270   202160    20187
     2023    20149   201270    20211  2019150   202030    20192   201780
    20171  2018124  2019300    20128    20093   201830    20096   201260
  2012200  2012500  2017200    20127    20101    20126   201770  2017300
    20094  2011200 20131500  2014300    20141    20131    20104    20139
    20132  2011370    20142]

In [245]:
data['Name'].unique().size

416

In [246]:
data['Year'].unique().size

211

**While looking at the year we can find many error. It combines with date and month in many areas. Let us resolve it.**

In [247]:
df=data.copy()

In [248]:
df.head()

              Name   Year  Miles  Price
0   Chevrolet Trax   2018  41946  16990
1      GMC Terrain   2020  45328  23990
2    Jeep Wrangler   2012  81068  21590
3    Jeep Renegade   2019  35372  21590
4            BMW X  20173  68992  22990

In [249]:
year_d=df['Year'].astype('str')

In [250]:
year_d

0         2018
1         2020
2         2012
3         2019
4        20173
         ...
21995     2014
21996     2016
21997     2013
21998     2020
21999     2012
Name: Year, Length: 22000, dtype: object

In [251]:
year_d[0][0:4]

'2018'

In [252]:
year_d[4][0:4]

'2017'

In [253]:
year=[]
for y in year_d:
    year.append(y[0:4])

In [254]:
df.drop(['Year'],inplace=True,axis=1)

In [255]:
df.insert(loc=1, column='Year', value=year)

In [256]:
df.head()

              Name  Year  Miles  Price
0   Chevrolet Trax  2018  41946  16990
1      GMC Terrain  2020  45328  23990
2    Jeep Wrangler  2012  81068  21590
3    Jeep Renegade  2019  35372  21590
4            BMW X  2017  68992  22990

In [257]:
df['Year']=df['Year'].apply(pd.to_numeric)

In [258]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    22000 non-null  object
 1   Year    22000 non-null  int64
 2   Miles   22000 non-null  int64
 3   Price   22000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 687.6+ KB

In [259]:
df['Year'].unique().size

15

**We removed those errors from year. Converting 211 to 15 unique years.**

In [260]:
from sklearn.preprocessing import LabelEncoder

In [261]:
le=LabelEncoder()

In [262]:
df['Name']=le.fit_transform(df['Name'])

In [263]:
df.head()

   Name  Year  Miles  Price
0    71  2018  41946  16990
1   127  2020  45328  23990
2   195  2012  81068  21590
3   193  2019  35372  21590
4    20  2017  68992  22990

In [264]:
df1=df.copy()

In [265]:
df1.head()

   Name  Year  Miles  Price
0    71  2018  41946  16990
1   127  2020  45328  23990
2   195  2012  81068  21590
3   193  2019  35372  21590
4    20  2017  68992  22990

In [266]:
x=df1.iloc[:,0:3]

In [267]:
y=df1.iloc[:,-1:]

In [268]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [269]:
from sklearn.metrics import r2_score

In [270]:
from sklearn.ensemble import RandomForestRegressor

In [271]:
regr = RandomForestRegressor(n_estimators=100,n_jobs=-1)

In [272]:
model=regr.fit(x_train,y_train.values.ravel())

In [273]:
y_pred=regr.predict(x_test)

In [274]:
r2_score(y_test,y_pred)

0.8557354050828971

**Through Random Forest Regressor, we get score up to 85%.**